{% extends "base.html" %}

{% block head %}

<title>{{post.title}} {% if post.subtitle %}: {{ post.subtitle }}{% endif %} </title>

<!-- Stylesheets -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">

{% endblock head %}


{% block content %}
	<!-- Header -->
	<div id="header">
		<h1> {{ post.title }}</h1>
			{% if post.subtitle %}
			<h2> {{ post.subtitle }}</h2>
			{% endif %}
		<h3 id="date"> {{ post.date | date  }}</h3>
	</div>
	<!-- Content -->
	<div id="content">
		{{ post.html | safe }}
	</div>
{% endblock content %}

